/* ---------- BASE LAYOUT ---------- */
.Login-section {
  padding: 20px;
  background-color: #F2F6FF;
  margin-bottom: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  align-items: center;
}

/* ---------- HERO SECTION ---------- */
.login-hero {
  text-align: center;
}

.login-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(8px, 10vw, 32px);
  color: #1447E6;
  text-align: center;
}

.login-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(8px, 10vw, 1.1rem);
  color: grey;
  text-align: center;
  margin-bottom: 25px;
}
.hero-image img {
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.login-stats {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.stat {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.stat-number {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

.blue {
  color: #1447E6;
}
.green {
  color: #00A63E;
}
.purple {
  color: #9810FA;
}

.stat-label {
  font-size: 1rem;
  font-weight: 300;
  color: #4A5565;
}

/* ---------- BACK BUTTON ---------- */
.back-btn {
  padding: 3px 20px;
  margin-bottom: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 4px;
  color: #4A5565;
}

.back-btn:hover {
  background-color: grey;
  color: #000;
}

a {
  text-decoration: none;
  color: #4A5565;
}

/* ---------- LOGIN FORM ---------- */
.login-form-container {
  flex: 1;
  max-width: 480px;
  width: 100%;
}

.login-form-box {
  width: 100%;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-form-box h2 {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 7px;
}

.login-form-box p {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: grey;
}

/* ---------- ROLE TABS ---------- */
.role-tabs {
  display: flex;
  justify-content: center;
  background-color: #ECECF0;
  border-radius: 10px;
  padding: 4px 4px 0 4px;
  margin-bottom: 24px;
}

.tab {
  border: none;
  padding: 10px 75px 10px 75px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  width: 100%;
  flex-direction: column;
}
.fa-user{
    color: #1447E6;
}
.fa-box{
    color: #00A63E;
}

.active {
  background-color: #FFFFFF;
}

/* ---------- FORM FIELDS ---------- */
.form-group {
  flex-direction: column;
}

.form-group label {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.form-input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 35px;
  border: none;
  padding: 10px 20px;
  background-color: #ECECF0;
  border-radius: 5px;
}

.form-input:focus {
  outline: none;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 25px;
}

.remember-me {
  display: flex;
  gap: 7px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.password-wrapper{
    width: 100%;
    background-color: #ECECF0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.password-input{
    width: 80%;
    border: none;
    background-color: transparent;
}
.password-input:focus{
    outline: none;
}
.eye-icon{
    cursor: pointer;
}
.hide-eye{
    display: none;
    color: grey;
}
.forgot-password {
  color: #1447E6;
}

.submit-btn {
  width: 100%;
  padding: 10px 48px;
  border: none;
  border-radius: 10px;
  background-color: #1447E6;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

.submit-btn:hover {
  background-color: blue;
}

.sigup-option {
  padding-top: 30px;
  border-top: 1px solid #E5E5E5;
  gap: 10px;
}

.sigup-option p {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: grey;
}

.sigup-option p a {
  color: #1447E6;
}

/* ---------- RESPONSIVENESS FIX ---------- */
@media (max-width: 1016px) {
  .login-container {
    /
  }

  .login-hero {
    display: none; /* hide hero on small screens */
  }

  .login-form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .role-tabs .tab {
    padding: 10px 40px;
  }

  .login-form-box {
    padding: 15px;
  }
}

@media (max-width: 600px) {
  .login-form-box {
    padding: 10px;
  }

  .login-container {
    padding: 10px;
  }

  .form-options {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .tab {
    padding: 10px 25px;
  }
}
