.service-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.service-text{
     color: #1447E6;
     font-family: "Poppins", sans-serif;
     border: solid 1px rgb(230, 230, 230);
     font-size: 0.7rem;
     font-weight: 500;
     border-radius: 7px;
     padding: 2px 10px;
     margin-bottom: 200px        ;
}