.service-section {
  margin-bottom: 80px;
  
}
.service-badge {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.service-text {
  color: #1447e6;
  font-family: "Inter", sans-serif;
  border: 1px solid rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 300;
  border-radius: 7px;
  padding: 2px 10px;
  margin-bottom: 30px;
}
.service-header {
  margin-right: 216px;
  margin-left: 216px;
  @media (max-width: 1030px) {
    margin-right: 120px;
    margin-left: 120px;
  }
  @media (max-width: 800px) {
    margin-right: 20px;
    margin-left: 20px;
  }
}
.service-header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 24px;
}
.service-header p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: grey;
}
.service-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 30px;
  justify-content: center;
}
.service-content {
  height: 410px;
  width: 380px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  transition: all 0.5s;
  padding: 25px;
}
.service-content:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
}
.service-div {
  display: flex;
  justify-content: space-between;
}
.service-icon {
  background-color: rgb(230, 230, 230);
  padding: 15px;
  border-radius: 10px;
}
.service-icon h3 {
  color: #1447e6;
}
.service-price {
  background-color: #eceef2;
  font-family: "Poppins", sans-serif;
  height: 23px;
  padding: 3px 10px;
  border-radius: 7px;
  margin-top: 15px;
}
.service-price h5 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.service-content-title h3 {
  margin-top: 25px;
  font-family: Segoe UI Emoji;
  font-weight: lighter;
}
.service-content-text p {
  margin-top: 25px;
  font-family: Segoe UI Emoji;
  font-weight: lighter;
  color: rgb(100, 100, 100);
}
.service-content-text h5 {
  margin-top: 20px;
  font-family: Segoe UI Emoji;
  font-weight: lighter;
}
.service-content-list {
  margin-top: 5px;
}
.service-content-list ul {
  font-family: Segoe UI Emoji;
  font-weight: lighter;
  color: rgb(100, 100, 100);
  line-height: 1.8rem;
  font-size: 13.6px;
  list-style: none;
}
.service-content-list li::before {
  content: "•";
  color: #1447e6;
  font-size: 30px;
  margin-right: 8px;
}
.blue {
  color: #1447e6;
}
.green {
  color: #00a63e;
}
.green2 {
  color: #009966;
}
.orange {
  color: #e17100;
}
.orange2 {
  color: #f54a00;
}
.scissor {
  color: #e60076;
}
.child {
  color: #974dfe;
}
.graduation-cap {
  color: #4f39f6;
}
.heart {
  color: #ec003f;
}
.mug {
  color: #e7000b;
}
.camera {
  color: #009689;
}
.case {
  color: #45556c;
}
.service-footer {
  /* height: 200px; */
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-family: Segoe UI Emoji;
}
.service-footer-holder {
  background-color: #f0f6ff;
  width: 90%;
  /* height: 200px; */
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}
.service-footer-badge h2 i {
  color: #1447e6;
  font-size: 1.9rem;
}
.service-footer-badge h2 {
  font-weight: 100;
}
.service-footer-text p {
  color: rgb(100, 100, 100);
  margin-top: 20px;
}
.service-footer-end {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;

  @media (max-width: 420px) {
    display: block  ;
  }
}
.service-footer-end h5 {
  font-weight: 100;
  color: rgb(100, 100, 100);
}
.shopping {
  background-color: #eff6ff;
}
.packages {
  background-color: #f0fdf4;
}
.cleaning {
  background-color: #f0fdf4;
}
.repair {
  background-color: #fffbeb;
}
.Vehicle {
  background-color: #fff7ed;
}
.Beauty {
  background-color: #fdf2f8;
}
.Childcare {
  background-color: #f5f3ff;
}
.Tutoring {
  background-color: #eef2ff;
}
.Elder {
  background-color: #fff1f2;
}
.Food {
  background-color: #fef2f2;
}
.Event {
  background-color: #f0fdfa;
}
